body{
    background-color:	rgba(33, 240, 6, 0.329)
}

header {
    padding: 20px;
    background-color:rgb(33, 240, 6, 0.329);
    border-bottom: 5px solid #000;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 20px;
    color: #4169E1;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.inicio {
    background-image:	linear-gradient(#b9f7f7, #02a3a3);
}

#titulo {
    color: #4169E1;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-align: center;
    font-size: 50px;
}

.texto1 {
    color: #000080;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 25px;
}
.texto2 {
    color: #483D8B;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #483D8B;
    text-align: justify;
    font-size: 30px;
}

#imagem {
    height: 100px;
    width: 200px;
    padding: 5px;
    margin: 15px;
    border: solid blue;
    border-radius: 25px;
}

.conteudo{
    background-color: rgb(178, 248, 225);
}
.lista1 {
    color: #483D8B;
    font-size: 35px;
    text-align:start;
    list-style-position: inside;
    display: inline-block;
}

.lista2 {
    color: #483D8B;
    font-size: 35px;
    text-align:end;
    list-style: none;
    display: inline-block;
}