body{
    background-color:	#F0FFFF;
}

#titulo {
    color: #4169E1;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    text-align: center;
    font-size: 50px;
}

.texto1 {
    color: #000080;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 25px;
}
.texto2 {
    color: #483D8B;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #483D8B;
    text-align: justify;
    font-size: 30px;
}

#imagem {
    height: 200px;
    width: 300px;
    padding: 5px;
    margin: 15px;
    border: solid blue;
    border-radius: 25px;
}

.conteudo{
    background-color: aquamarine;
}

.lista 2 {
    font-size: 35px;
    text-align: center;
    list-style: none;
}
